In [1]:
import pandas as pd
from sklearn import svm
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
data = pd.read_csv("train.csv")
data.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Sex          889 non-null    object
 4   Age          889 non-null    float64
 5   SibSp        889 non-null    int64
 6   Parch        889 non-null    int64
 7   Fare         889 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.6+ KB

In [3]:
data.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [4]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,889.0,446.000000,256.998173,1.00,224.0000,446.0000,668.0,891.0000
Survived,889.0,0.382452,0.486260,0.00,0.0000,0.0000,1.0,1.0000
Pclass,889.0,2.311586,0.834700,1.00,2.0000,3.0000,3.0,3.0000
Age,889.0,32.699854,14.346821,0.42,22.0000,32.0000,45.0,80.0000
SibSp,889.0,0.524184,1.103705,0.00,0.0000,0.0000,1.0,8.0000
Parch,889.0,0.382452,0.806761,0.00,0.0000,0.0000,0.0,6.0000
Fare,889.0,32.096681,49.697504,0.00,7.8958,14.4542,31.0,512.3292

In [5]:
le = preprocessing.LabelEncoder()

In [6]:
data["Sex"]=le.fit_transform(data["Sex"])

In [7]:
data["Embarked"]=le.fit_transform(data["Embarked"])

In [8]:
data.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0   7.2500         2
1            2         1       1    0  38.0      1      0  71.2833         0
2            3         1       3    0  26.0      0      0   7.9250         2
3            4         1       1    0  35.0      1      0  53.1000         2
4            5         0       3    1  35.0      0      0   8.0500         2

In [9]:
def model(col):
    X = data.drop([col,"PassengerId"],axis=1)
    y = data[col]
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
    clf = svm.SVC(gamma=0.01, C=100)
    clf.fit(X_train,y_train)
    print(f"Accuracy score is :- {accuracy_score(clf.predict(X_test),y_test, normalize=True)}")
    "\n"
    print(f"Confusion matrix :- \n{confusion_matrix(clf.predict(X_test),y_test)}")

In [10]:
model("Pclass")

Accuracy score is :- 0.9013452914798207
Confusion matrix :-
[[ 51   5   1]
 [  4  37   5]
 [  1   6 113]]

In [11]:
model("Survived")

Accuracy score is :- 0.7757847533632287
Confusion matrix :-
[[116  25]
 [ 25  57]]

In [12]:
model("Sex")

Accuracy score is :- 0.7130044843049327
Confusion matrix :-
[[ 46  25]
 [ 39 113]]

In [13]:
model("SibSp")

Accuracy score is :- 0.7847533632286996
Confusion matrix :-
[[133  17   2   0   1   0   0]
 [ 21  32   4   1   0   0   0]
 [  1   1   1   0   0   0   0]
 [  0   0   0   3   0   0   0]
 [  0   0   0   0   3   0   0]
 [  0   0   0   0   0   2   0]
 [  0   0   0   0   0   0   1]]

In [14]:
model("Parch")

Accuracy score is :- 0.7937219730941704
Confusion matrix :-
[[153  18   3   0   0]
 [ 14  13   4   0   0]
 [  4   2   9   1   0]
 [  0   0   0   0   0]
 [  0   0   0   0   2]]

In [15]:
model("Embarked")

Accuracy score is :- 0.7533632286995515
Confusion matrix :-
[[ 14   0  13]
 [  1   5   1]
 [ 27  13 149]]