In [1]:
import pandas as pd

In [2]:
from sklearn.naive_bayes import *

In [3]:
data = pd.read_csv("train.csv")

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        202 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.5+ KB

In [6]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [7]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [8]:
from sklearn import preprocessing

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
from sklearn.naive_bayes import GaussianNB

In [11]:
from sklearn.metrics import accuracy_score

In [12]:
from sklearn.metrics import confusion_matrix

In [13]:
le = preprocessing.LabelEncoder()

In [14]:
data["Sex"]=le.fit_transform(data["Sex"])

In [15]:
data["Embarked"]=le.fit_transform(data["Embarked"])

In [16]:
data = data.drop(["PassengerId"],axis=1)

In [17]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,2
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0
2,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,2
4,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,2

In [18]:
def Model(col):
    x = data.drop([col], axis=1)
    y = data[col]
    train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.3, random_state =0)
    clf = BernoulliNB()
    clf.fit(train_x, train_y)
    ypred = clf.predict(test_x)
    print(f"Accuracy score is {accuracy_score(test_y, ypred)}")
    '\n'
    print(f"Confusion Matrix: \n {confusion_matrix(test_y, ypred)}")

In [19]:
Model('Survived')

ValueError: could not convert string to float: 'Williams-Lambert, Mr. Fletcher Fellows'

In [ ]:
Model('Sex')

In [ ]:
Model('SibSp')

In [ ]:
Model('Parch')

In [ ]:
Model("Embarked")