In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from sklearn import tree

In [4]:
from sklearn import preprocessing

In [5]:
#Training (Classifying)

In [6]:
titanic_train = pd.read_csv("train.csv")

In [7]:
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
titanic_train.shape

(889, 12)

In [9]:
titanic_train.size

10668

In [10]:
titanic_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        202 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.5+ KB

In [11]:
titanic_train.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,889.0,446.000000,256.998173,1.00,224.0000,446.0000,668.0,891.0000
Survived,889.0,0.382452,0.486260,0.00,0.0000,0.0000,1.0,1.0000
Pclass,889.0,2.311586,0.834700,1.00,2.0000,3.0000,3.0,3.0000
Age,889.0,32.699854,14.346821,0.42,22.0000,32.0000,45.0,80.0000
SibSp,889.0,0.524184,1.103705,0.00,0.0000,0.0000,1.0,8.0000
Parch,889.0,0.382452,0.806761,0.00,0.0000,0.0000,0.0,6.0000
Fare,889.0,32.096681,49.697504,0.00,7.8958,14.4542,31.0,512.3292

In [12]:
titanic_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [13]:
titanic_train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [14]:
#There are dependant variable(Output) is Survived , and others are independant variable(input).
#We have to identify which variable is significance to Survived variable with the decesion tree classification.
#There are 3 columns have null values i.e. Age, Cabin, Embarked
#So Survived variable finds we need Age firstly so others not so essential 
#We add null values with mean if Age variable

In [15]:
new_age_var = np.where(titanic_train["Age"].isnull(),28,titanic_train["Age"])

In [16]:
titanic_train["Age"] = new_age_var

In [17]:
from sklearn import preprocessing

In [18]:
le = preprocessing.LabelEncoder()

In [19]:
encoded_sex = le.fit_transform(titanic_train["Sex"])

In [20]:
tree_model = tree.DecisionTreeClassifier()

In [21]:
#1DV & 1IV

In [22]:
tree_model.fit(X=pd.DataFrame(encoded_sex),y=titanic_train["Survived"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [23]:
with open("dtree.dot",'w') as f:
    f = tree.export_graphviz(tree_model,feature_names=["Sex"],out_file=f);

In [24]:
#1DV & 2IV

In [25]:
predictors = pd.DataFrame([encoded_sex,titanic_train["Pclass"]]).T

In [26]:
tree_model.fit(X=predictors,y=titanic_train["Survived"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [27]:
with open("dtree1.dot",'w') as f:
    f = tree.export_graphviz(tree_model,feature_names=["Sex",'Pclass'],out_file=f);

In [28]:
predictors = pd.DataFrame([encoded_sex,titanic_train["Pclass"],titanic_train["Age"],titanic_train["Fare"]]).T

In [29]:
tree_model= tree.DecisionTreeClassifier(max_depth=8)

In [30]:
tree_model.fit(X=predictors,y=titanic_train["Survived"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [31]:
with open("dtree2.dot",'w') as f:
    f = tree.export_graphviz(tree_model,feature_names=["Sex","Pclass","Age","Fare"],out_file=f);

In [32]:
#accuracy of model

In [33]:
tree_model.score(X=predictors,y=titanic_train["Survived"])

0.8976377952755905

In [34]:
#Testing (Prediction)

In [35]:
titanic_test = pd.read_csv("test.csv")

FileNotFoundError: [Errno 2] File test.csv does not exist: 'test.csv'

In [ ]:
titanic_test.head()

In [ ]:
titanic_test.shape

In [ ]:
titanic_test.isna().sum()

In [ ]:
encoded_sex_test = le.fit_transform(titanic_test["Sex"])

In [ ]:
test_features = pd.DataFrame([encoded_sex_test,titanic_test["Pclass"],titanic_test["Age"],titanic_test["Fare"]]).T

In [ ]:
test_preds = tree_model.predict(X=test_features)

In [ ]:
Predicted_Output = pd.DataFrame({"PassengerId":titanic_test["PassengerId"],"Survived":test_preds})

In [ ]:
Predicted_Output.to_csv("Output.csv",index=False);

In [ ]:
#Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
titanic_train.columns

In [ ]:
titanic_train.info()

In [ ]:
le = preprocessing.LabelEncoder()

In [ ]:
titanic_train["Sex"] = le.fit_transform(titanic_train["Sex"])

In [ ]:
titanic_train["Embarked"] = le.fit_transform(titanic_train["Embarked"])

In [ ]:
rf_model = RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [ ]:
features = ["Pclass","Sex","Age","SibSp","Parch","Fare","Embarked"]

In [ ]:
rf_model.fit(X=titanic_train[features],y=titanic_train["Survived"])

In [ ]:
print("oob Accuracy :-", rf_model.oob_score_)

In [ ]:
for feature , imp in zip(features,rf_model.feature_importances_):
    print(feature,imp)

In [ ]:
#Assignment :-

In [ ]:
predictors = pd.DataFrame([encoded_sex,titanic_train["Age"],titanic_train["Fare"]]).T

In [ ]:
tree_model = tree.DecisionTreeClassifier(max_depth=8)

In [ ]:
tree_model.fit(X=predictors,y=titanic_train["Survived"])

In [ ]:
with open("dtree3.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=["Sex","Age","Fare"],out_file=f)

In [ ]:
tree_model.score(X=predictors,y=titanic_train["Survived"])